body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* CONTAINERS FOR FLEX */

.header, .front-banner, .random-info, .album, .picture {
  display: flex;
}

.header, .front-banner {
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0px 200px;
}

.front-banner {
  gap: 50px;
  padding: 150px 200px;
}

.random-info, .picture {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-front {
  flex: 0 1 auto;
}

.right-front {
  flex: 0 0 auto;
}

.heading, .hero-main {
  color: #F9FAF8;
  margin: 0;
}

.album {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* HEADING */

.heading {
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
  
li {
  list-style-type: none;
  font-size: 18px;
}

/* HERO SECTION */

li, .hero-second {
  color: #E5E7EB;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
}

.hero-second, .front-button, .caption {
  font-size: 18px;
}

.front-button {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 10px 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* RANDOM INFO SECTION */

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.pic {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.caption {
  text-align: center;
  width: 175px;
}

.random-info {
  padding: 50px 0px;
  gap: 30px;
}